body {
    font-family: 'Press Start 2P', cursive; /* Minecraft-style font */
    background: url('img/bg_mc5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    user-select: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    max-width: 1200px;
    margin:  auto;
}

.test_box {
    flex: 1 1 22%; /* Permet aux conteneurs de prendre une largeur égale */
    margin: 10px;
    box-sizing: border-box;
}

.test_box .inner {
    background: url('img/bg_div1.jpg') no-repeat center center fixed;
    background-color: #8B4513; /* Wood color */
    padding: 2rem;
    border: 0.2rem solid darkgreen; 
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90%;
    max-width: 80%;
}

#cookie {
    width: 10vw;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#cookie:active {
    animation: click-animation 0.2s ease;
}

#counter {
    font-size: 2rem;
    margin-top: 2rem;
}

.upgrade {
    background-color: #8B4513; /* Wood color */
    color: #FFF;
    border: none;
    padding: 1rem 2rem;
    font-size: 0.5rem;
    cursor: pointer;

}

.upgrade:hover {
    background-color: #A0522D; /* Lighter wood color */
}

.button-82-pushable {
    font-size: 0.5rem;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(0, 54%, 28%) 8%,
        hsl(357, 78%, 16%) 92%,
        hsl(340deg 100% 16%) 100%
    );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 0.5rem;
    color: white;
    background: #8B4513;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 0.8rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}



.craft-button {
    display: block;
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.craft-button img {
    width: 5vw;
    height: 5vw;
}

#upgradeSpeed {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #8B4513;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.cookie-fall {
    position: fixed;
    width: 30px;
    height: 30px;
    background: url('img/cookie.png') no-repeat center center;
    background-size: contain;
    animation: fall 2s linear;
    pointer-events: none;
    z-index: 1000;
}

@keyframes rotation {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }
  
.syncRotate {
    -webkit-transform: rotate(0deg);
}
  
.syncRotate:active {
    animation: rotation 500ms ease-in-out forwards;
}





/* Styles pour la popup */
.popup {
    display: none; /* Masquer la popup par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.popup-content {
    background-color: #8B4513; /* Wood color */
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .test_box {
        flex: 1 1 45%; /* Deux conteneurs par ligne */
    }

    #cookie {
        width: 12vw;
    }

    .craft-button img {
        width: 6vw;
        height: 6vw;
    }
}

@media (max-width: 992px) {
    .test_box {
        flex: 1 1 45%; /* Deux conteneurs par ligne */
    }

    #cookie {
        width: 15vw;
    }

    .craft-button img {
        width: 8vw;
        height: 8vw;
    }
}

@media (max-width: 768px) {
    .test_box {
        flex: 1 1 45%; /* Deux conteneurs par ligne */
    }

    #cookie {
        width: 20vw;
    }

    .craft-button img {
        width: 10vw;
        height: 10vw;
    }

    .claim-btn {
        background-color: darkgreen;
        position: relative;
        margin: 2rem auto;
    }
}

@media (max-width: 576px) {
    .test_box {
        flex: 1 1 100%; /* Un conteneur par ligne */
    }

    #cookie {
        width: 30vw;
    }

    .craft-button img {
        width: 15vw;
        height: 15vw;
    }
}

.button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espace entre les boutons */
}

.reset-button,
.rules-button,
.info-button {
    background-color: #8B4513; /* Wood color */
    color: #FFF;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.reset-button:hover,
.rules-button:hover,
.info-button:hover {
    background-color: #A0522D; /* Lighter wood color */
}

@media (max-width: 768px) {
    .reset-button,
    .rules-button,
    .info-button {
        padding: 0.8rem 1.2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .reset-button,
    .rules-button,
    .info-button {
        padding: 0.6rem 1rem;
        font-size: 0.6rem;
    }
}